indivo/tests/schemas/output/aggregatereport/aggregatereport.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://indivo.org/vocab/xml/documents#"
           xmlns:indivo="http://indivo.org/vocab/xml/documents#"
           elementFormDefault="qualified">

  <xs:complexType name="AggregateReport">
    <xs:attribute name="value" type="xs:string" use="required" />
    <xs:attribute name="group" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:element name="AggregateReport" type="indivo:AggregateReport" />
</xs:schema>