indivo/schemas/data/common/annotation.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://indivo.org/vocab/xml/documents#" xmlns:indivo="http://indivo.org/vocab/xml/documents#"
elementFormDefault="qualified">

  <element name="Annotation">
    <complexType>
      <sequence>
        <element name="text" type="string" minOccurs="1" maxOccurs="1" />
        <!-- hash of the referenced document, using SHA256 -->
        <element name="document_hash" type="string" minOccurs="0" maxOccurs="1" />
      </sequence>
    </complexType>
  </element>
</schema>